body{
    background-color: lightblue;
    margin: auto;
}
h1{
    color: red;
}
div{
    padding: 10% 25% 10% 25%;
    
    
}
button{
    background: linear-gradient(to right, red, orange);
    border-radius: 5px;
    width: 100%;
    height: 50px;
    font-style: italic;
}

